html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: lightslategray;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  color: #fff;

  &-header{
      margin-bottom: 3rem;
  }
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  & div {
    width: 35px;
    height: 34px;
    padding: 1px;

    background-color: white;
    border: 1px solid #cacaca;
    -webkit-box-shadow: 5px 5px 15px 5px #a0a0a0;
    box-shadow: 5px 5px 15px 5px #7d7d7d;
  }
}
.bomb {
  background: orangered;
}

.checked {
  background-color: transparent !important;
  box-shadow: 5px 5px 15px 5px #dddddd;
}
